version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: redis_queue
    ports:
      - "6379:6379"
    restart: always

  api:
    build: .
    container_name: job_api
    command: bun run start:server
    environment:
      - PORT=3000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ports:
      - "3000:3000"
    depends_on:
      - redis

  worker:
    build: .
    command: bun run start:worker
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - ./out:/usr/src/app/out
    depends_on:
      - redis
    deploy:
      replicas: 2 # Simulate scale: 2 workers running in parallel!